.main {
	text-align: center;
	margin: auto;
	padding: 30px;
}

.login-btn {
	background-color: #1db954;
	border-color: #1db954;
	font-weight: 600;
}

.login-btn:hover {
	background-color: #1ed760;
	border-color: #1ed760;}

#login {
	margin: auto;
	width: 750px;
	height: 750px;
}

h4 {
	width: 50px;
	margin: auto;
}

dd {
	text-align: left;
}

ul{
	text-align: left;
	width: fit-content;
	margin: auto;
}

div {
	margin: 20px;
}

.messages 
{
	list-style: none;
}