.login-btn {
	background-color: #1db954;
	border-color: #1db954;
	font-weight: 600;
}

.login-btn:hover {
	background-color: #1ed760;
	border-color: #1ed760;}

div {
	margin: 20px;
}

.messages 
{
	list-style: none;
}

.nav-icon > a {
	padding-top: 14px;
	padding-bottom: 14px;
	font-size: 38px;
}

.profile-pic {
	position: relative;
    float: right;
    width: 50px;
}

ul, .section {
	font-family: 'Open Sans', sans-serif;
}


/*dd, dt {
	text-align: center;
}
*/
h1, h2, h3, h4, .navbar-brand {
	font-family: 'Merriweather Sans', sans-serif;
}